<h3>Animation</h3>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-animation" viewBox="0 0 900 450">
      <path id="path">
          <animate attributeName="d" from="m0,50 h0" to="m0,50 h1100" dur="6s" begin="0s" repeatCount="indefinite"/>
      </path>
      <text x="30" y="20" font-size="26" font-family="Montserrat" fill='red'>
          <textPath xlink:href="#path">MMT RULES - Don't try this at home</textPath>
      </text>
      </text>
    </svg>
  </div>
</div>
