<h3>Style</h3>

<h4>Text with Style</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <text x="20" y="50" class="MMT">MMT RULES</text>
      <style>.MMT { font: bold 20px san-serif; fill: red}</style>
    </svg>
  </div>
</div>

<h4>Patterns</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <pattern id="pattern" width="6" height="6" patternUnits="userSpaceOnUse">
      <rect width="5" height="5" stroke="grey" stroke-width="2" />
      </pattern>
    </defs>
  <ellipse fill="url(#pattern)" stroke="blue" stroke-width="5" cx="100" cy="50" rx="30" ry="30" />
    </svg>
  </div>
</div>
