<h3>Text</h3>

<h4>Text</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <text x="20" y="50" class="MMT">MMT RULES</text>
    </svg>
  </div>
</div>

<h4>Text w/ Auto-Wrap</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <switch>
        <foreignObject x="20" y="10" width="250" height="100">
          <p xmlns="http://www.w3.org/1999/xhtml">MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT MMT</p>
        </foreignObject>
      </switch>
    </svg>
  </div>
</div>

<h4>Fancy Text</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-text" viewBox="0 0 900 450">
      <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" fill="none"/>
      <text width="500" fill ="red" font-size="34" font-family="Impact">
        <textPath xlink:href="#curve">
          MultiMediaTechnology RULES
        </textPath>
      </text>
   </svg>
  </div>
</div>
